<!-- <div>hello world</div>
<%= @string %> -->
<%= render partial: "header" %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Search", search_index_path, :method => :get%>

<%= @data.html_safe %>
