<link href="https://fonts.googleapis.com/css?family=Duru+Sans" rel="stylesheet">
<div class="header">


  <div class="nav">
    <div class="link"><%= link_to "Apps", fav_apps_path, :method => :get %></div>
    <div class="link"><%= link_to "News", news_index_path, :method => :get %></div>

    <div class="link">
      <%= link_to "Search", search_index_path, :method => :get%>
    </div>
  </div>

  <div class="devise">
    <% if current_user %>
      <div class="link">
        <%= link_to "Settings", edit_user_registration_path,:method => :get%>
      </div>
      <div class="link">
        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </div>
    <% else %>
      <div class="link">
        <%= link_to "Register", new_user_registration_path, :method => :get %>
      </div>
      <div class="link">
        <%= link_to "Login", new_user_session_path, :method => :get %>
      </div>
    <% end %>
  </div>


</div>
<script>
    setTimeout("$('.notice').fadeOut('slow')", 6000)
    setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
</script>
